<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate Template Playground</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../styles/certificate.css" />
    <style>
      @page {
        size: A4;
        margin: 0;
      }

      .page-break {
        page-break-after: always;
      }

      tr,
      td,
      th {
        page-break-inside: avoid;
      }
    </style>
  </head>

  <body class="text-xs bg-gray-100 py-8">
    <div class="p-8 bg-white max-w-[297mm] mx-auto page-break">
      <div class="border border-black p-4">
        <div class="flex items-center justify-between">
          <img
            src="../../public/images/logo.png"
            class="w-20"
            alt="Company Logo"
          />

          <div class="text-center w-full">
            <h1 class="font-bold text-[20px]">
              Report Of Thorough Examination
            </h1>
            <p class="text-[12px] font-bold mt-1">
              This report meets the requirements of schedule 1 of regulation 10
              of LOLER 1998
            </p>
          </div>

          <div class="flex justify-between mt-4">
            <div
              class="w-24 h-24 border border-black flex items-center justify-center text-[10px]"
            >
              QR
            </div>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 p-2">
          <div>Certificate No: ELS/MTC-HB-001-0126</div>
          <div>Date of Examination: 21/01/2026</div>
          <div>Date of Report: 21/01/2026</div>
          <div>Colour Code (if required):</div>
        </div>

        <div class="flex gap-2 mt-2 border border-black">
          <div class="border-black border-r-[1px] pl-1 pr-2 pb-5">
            Name & Address of the employer for whom the examination was made:
            <br /><span class="font-medium"
              >MEGASTAR TECHNICAL AND CONSTRUCTION COMPANY,</span
            >
          </div>
          <div class="border-black border-r-[1px] pl-1 pr-2 pb-5">
            Address of the premises at which the examination was made:
            <br /><span class="font-medium"
              >NLNG INDUSTRIAL AREA BONNY ISLAND, RIVERS STATE.</span
            >
          </div>
          <div>
            <p class="">Status:</p>
            <p class="font-medium">ND - No Defect:</p>
            <p class="font-medium">SDR - See Defect Report</p>
            <p class="font-medium">NF - Not Found</p>
            <p class="font-medium">OBS - Observation (see Defect Report)</p>
          </div>
        </div>

        <table class="w-full border border-black mt-4">
          <thead>
            <tr class="">
              <th class="border border-black p-1">S/N</th>
              <th class="border border-black p-1">Identification Number</th>
              <th class="border border-black p-1 w-[35%]">Description</th>
              <th class="border border-black p-1">WLL or SWL</th>
              <th class="border border-black p-1">
                Date of Last Thorough Examination
              </th>
              <th class="border border-black p-1">
                Date of Manufacture (if known)
              </th>
              <th class="border border-black p-1">
                Latest date of next through examination
              </th>
              <th class="border border-black p-1">
                Reason for Examination (See Below)
              </th>
              <th class="border border-black p-1">Details of any test</th>
              <th class="border border-black p-1">Status
(See
above)</th>
              <th class="border border-black p-1">Safe to
Use
Yes / No</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-black p-1">1</td>
              <td class="border border-black p-1">2037</td>
              <td class="border border-black p-1">Vaultex harness belt</td>
              <td class="border border-black p-1">120kg</td>
              <td class="border border-black p-1">11/04/25</td>
              <td class="border border-black p-1">03/2020</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
              <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">2</td>
              <td class="border border-black p-1">2038</td>
              <td class="border border-black p-1">
                Double lanyard with shock absorber
              </td>
              <td class="border border-black p-1">120kg</td>
              <td class="border border-black p-1">12/04/25</td>
              <td class="border border-black p-1">06/2021</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">3</td>
              <td class="border border-black p-1">2039</td>
              <td class="border border-black p-1">
                Self-retracting lifline 6m
              </td>
              <td class="border border-black p-1">140kg</td>
              <td class="border border-black p-1">13/04/25</td>
              <td class="border border-black p-1">09/2021</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">4</td>
              <td class="border border-black p-1">2040</td>
              <td class="border border-black p-1">Anchor sling 2m</td>
              <td class="border border-black p-1">2000kg</td>
              <td class="border border-black p-1">14/04/25</td>
              <td class="border border-black p-1">01/2022</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">5</td>
              <td class="border border-black p-1">2041</td>
              <td class="border border-black p-1">Karabiner auto-lock</td>
              <td class="border border-black p-1">25kN</td>
              <td class="border border-black p-1">15/04/25</td>
              <td class="border border-black p-1">04/2022</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">6</td>
              <td class="border border-black p-1">2042</td>
              <td class="border border-black p-1">Rope grab device</td>
              <td class="border border-black p-1">120kg</td>
              <td class="border border-black p-1">16/04/25</td>
              <td class="border border-black p-1">08/2022</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">7</td>
              <td class="border border-black p-1">2043</td>
              <td class="border border-black p-1">
                Vertical lifeline rope 20m
              </td>
              <td class="border border-black p-1">140kg</td>
              <td class="border border-black p-1">17/04/25</td>
              <td class="border border-black p-1">10/2022</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">8</td>
              <td class="border border-black p-1">2044</td>
              <td class="border border-black p-1">Positioning belt</td>
              <td class="border border-black p-1">120kg</td>
              <td class="border border-black p-1">18/04/25</td>
              <td class="border border-black p-1">12/2022</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">9</td>
              <td class="border border-black p-1">2045</td>
              <td class="border border-black p-1">
                Work restraint lanyard 1.5m
              </td>
              <td class="border border-black p-1">120kg</td>
              <td class="border border-black p-1">19/04/25</td>
              <td class="border border-black p-1">02/2023</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
            <tr>
              <td class="border border-black p-1">10</td>
              <td class="border border-black p-1">2046</td>
              <td class="border border-black p-1">Tripod rescue system</td>
              <td class="border border-black p-1">250kg</td>
              <td class="border border-black p-1">20/04/25</td>
              <td class="border border-black p-1">05/2023</td>
              <td class="border border-black p-1">20/07/2026</td>
              <td class="border border-black p-1">B</td>
              <td class="border border-black p-1">Nil</td>
               <td class="border border-black p-1">ND</td>
              <td class="border border-black p-1">YES</td>
            </tr>
          </tbody>
        </table>

        <div class="flex mt-4 border border-black text-sm">
          <div class="px-2 py-1 border-r border-black font-semibold">
            Reason for Examination
          </div>

          <div class="pl-2 pr-10 py-1 border-r border-black">
            Installation: <strong>A</strong>
          </div>

          <div class="pl-2 pr-10 py-1 border-r border-black">
            6 Monthly: <strong>B</strong> ✓
          </div>

          <div class="pl-2 pr-10 py-1 border-r border-black">
            12 Monthly: <strong>C</strong>
          </div>

          <div class="pl-2 pr-10 py-1 border-r border-black">
            Written Scheme: <strong>D</strong>
          </div>

          <div class="pl-2 pr-10 py-1">
            Exceptional Circumstance: <strong>E</strong>
          </div>
        </div>

        <div class="w-full flex justify-evenly items-center mb-4 mt-4">
          <table class="border border-black border-collapse text-sm">
            <tr>
              <td class="border border-black px-3 py-1">
                Defect / Observation sheet attached?
              </td>
              <td class="border border-black px-3 py-1 text-center">Yes</td>
              <td class="border border-black px-3 py-1 text-center"></td>
              <td class="border border-black px-3 py-1 text-center">No</td>
              <td class="border border-black px-3 py-1 text-center font-bold">
                ✓
              </td>
            </tr>
          </table>

          <table class="border border-black border-collapse text-sm">
            <tr>
              <td class="border border-black px-4 py-1 font-medium">
                Relevant standard
              </td>
              <td class="border border-black px-6 py-1">BS EN 361</td>
            </tr>
          </table>
        </div>

        <table
          class="w-[80%] mx-auto  text-center"
        >
          <!-- Header -->
          <tr class="font-semibold text-lg ">
            <td class="border border-black py-2">
              Inspector’s Name/Qualification
            </td>
            <td class="border border-black py-2">
              Checked by Name/Qualification
            </td>
          </tr>

          <tr>
            <td colspan="2" class="h-2"></td>
          </tr>

          <!-- Names + Signatures -->
          <tr>
            <td class="border border-black py-4 ">
              <div class="font-bold text-md mb-4">AKPEGHAGHA OGHENEVWEDE</div>

              <img
                src="/public/images/signature.png"
                class="mx-auto h-16 object-contain"
              />
              <p>FID Factory Act, ASNT LEVEL II, IADC Lifting Inspector</p>
            </td>

            <td class="border border-black py-4">
              <div class="font-bold text-md mb-4">AKPOR DESMOND</div>

              <img
                src="/public/images/signature.png"
                class="mx-auto h-20 object-contain"
              />

              <div class="text-md font-semibold mt-2">21/01/2026</div>
              <p>FID Factory Act, ASNT LEVEL II, LEEA Diploma</p>
            </td>
          </tr>
        </table>

        <div class="flex justify-between items-center mt-6 px-6">
          <img src="/iso.png" class="h-12 object-contain" />

          <img src="/iadc.png" class="h-12 object-contain" />

          <img src="/dpr.png" class="h-12 object-contain" />

          <img src="/labour.png" class="h-12 object-contain" />
        </div>
      </div>
    </div>
  </body>
</html>
